@import 'src/assets/styles/_variables.scss';
@import 'src/assets/styles/_mixins.scss';

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: black;
  color: $mainColor;

  header {
  }

  main {
    display: flex;
    justify-content: center;

    .greeting-content-wrapper {
      max-width: 660px;

      h2 {
        font-size: 2em;
        margin: 0 0 20px;
      }

    }
  }

  footer {
  }
}
