@import "src/assets/styles/_variables.scss";

:host {
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  background: $headerBackgroundColor;
  color: $mainColor;

  a {
    color: $mainColor;
  }

  div.home-link-wrapper {
    padding: 8px 16px;
  }

  nav {
    display: flex;
    justify-content: flex-end;

    ul {
      li {
        div {
          .apply-link-button {
            sup {
              color: blue;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
