<div class="home-link-wrapper">
  <a class="home-link" href="/office-workout">OFFICE-WORKOUT</a>
</div>
<nav>
  <ul ngbNav class="nav-pills">
    <li ngbNavItem ngbDropdown>
      <a href (click)="false" ngbNavLink ngbDropdownToggle>STANDINGS</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem class="apply-link-button" (click)="open('applyLink')">Apply link <sup>0</sup></button>
        <button ngbDropdownItem (click)="open('standing')">Create new</button>
        <button ngbDropdownItem></button>
      </div>
    </li>
    <li ngbNavItem ngbDropdown>
      <a href (click)="false" ngbNavLink ngbDropdownToggle>PROFILE</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Edit Profile</button>
        <button ngbDropdownItem>Settings</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem (click)="logOut()">Log out</button>
      </div>
    </li>
  </ul>
  <app-standing-modal></app-standing-modal>
  <app-apply-link-modal></app-apply-link-modal>
</nav>

