<section class="main-container">
  <picture class="label">
    <img src="/../../assets/images/officeWorkout.png" alt="officeWorkout">
  </picture>

  <form (ngSubmit)="onSubmit()" [formGroup]="signInFormGroup" class="sign-in form-wrapper">
    <label class="input-label label-email" for="email">
      <input id="email" formControlName="email" placeholder="Email">
      <div
        [ngClass]="{
          'info-icon': true,
          'invalid': signInFormGroup.controls.email.errors && signInFormGroup.controls.email.dirty,
          'valid': !signInFormGroup.controls.email.errors && signInFormGroup.controls.email.dirty}"
        [autoClose]="'true'"
        ngbTooltip="{{ getErrorMessage('email', this.signInFormGroup) }}">
        <span>ℹ</span>
      </div>
    </label>
    <label class="input-label label-password" for="email">
      <input formControlName="password" type="password" placeholder="Password">
      <div
        [ngClass]="{
          'info-icon': true,
          'invalid': signInFormGroup.controls.password.errors && signInFormGroup.controls.password.dirty,
          'valid': !signInFormGroup.controls.password.errors && signInFormGroup.controls.password.dirty }"
        [autoClose]="'true'"
        ngbTooltip="{{ getErrorMessage('password', this.signInFormGroup) }}">
        <span>ℹ</span>
      </div>
    </label>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" (click)="goToRegistration()">Registration</button>
      <button type="submit" class="btn btn-primary" triggers="click:blur" [autoClose]="'true'"
              ngbTooltip="{{ signInFormGroup.invalid ? 'Please, fill in and check fields.' : '' }}">Sign in
      </button>
    </div>
    <p>Forgot your password?</p>
  </form>

</section>
