@import "reset";
@import "variables.scss";
@import "mixins.scss";

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $mainTextSize;
  box-sizing: border-box;
  height: 100vh;
}
a {
  text-decoration: none !important;
}
